/*root css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --contentColor: #2d3a4b;
    --headerColor: #485660;
    --firstElementColor: #a7ad3e;
    --secoundElementColor: #c84f49;
    --thirdElementColor: #936f52;
    --footerColor: #d3dae2;
    --shadow:#252b35;
}
.font-header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;  
}
/* body css*/
.content {
    width: 100%;
    background-color:var(--footerColor);
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column-center{
    width: 70%;
    background-color: var(--contentColor);
    height: 350vh;
    margin-top: 2rem;
    position: relative;
}
.column-center h1{
    position: absolute;
    z-index: 2;
    color: white;
    top: 0.5em;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: center;
}
.absolute{
    position: absolute;
}
.header{
    height: 50vh;
    width:100%;
    background-color: var(--headerColor);
    color: white;
    margin:7rem 20% 7rem 20%;
    box-shadow: -10px 10px 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header h2{
    border-bottom: 2px solid white;
}
.header p{
    width: 60%;
}
/*this is for the first item product*/
.product-base-1{
    background-color: var(--firstElementColor);
    width: 130%;
    height: 50vh;
    margin: 8rem 0  2rem -5%;
    box-shadow: 0 10px 10px var(--shadow);
    position: relative;
}
.board-1{
    width: 50%;
    background-color: white;
    height: 80%;
    position: absolute;
    top: -10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 10px 10px 60px var(--shadow);
}
.board-1 h3{
    border-top: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow)
}
.board-1 h2{
    margin: 2px 0 0 1px;
    border-top: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow);
    font-family: 'Times New Roman', Times, serif;
}
.img-1{
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: -13%;
    right: 5%;
    box-shadow: -10px 10px 90px var(--shadow);
}
/*secound item product*/
.product-base-2{
    background-color: var(--secoundElementColor);
    width: 130%;
    height: 50vh;
    margin: 14rem 0  2rem -5%;
    box-shadow: 0 10px 10px var(--shadow);
    position: relative;
}
.board-2{
    width: 45%;
    background-color: white;
    height: 80%;
    position: absolute;
    top: -10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 10px 10px 60px var(--shadow);
}
.board-2 h3{
    border-top: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow)
}
.board-2 h2{
    margin: 2px 0 0 1px;
    border-top: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow);
    font-family: 'Times New Roman', Times, serif;
}
.img-2{
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: -13%;
    right: 4%;
    box-shadow: -10px 10px 90px var(--shadow);
}
/*third item product*/
.product-base-3{
    background-color: var(--secoundElementColor);
    width: 130%;
    height: 50vh;
    margin: 14rem 0  2rem -5%;
    box-shadow: 0 10px 10px var(--shadow);
    position: relative;
}
.board-3{
    width: 50%;
    background-color: white;
    height: 80%;
    position: absolute;
    top: -7%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 10px 10px 60px var(--shadow);
}
.board-3 h3{
    border-top: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow)
}
.board-3 h2{
    margin: 2px 0 0 1px;
    border-top: 1px solid var(--shadow);
    border-bottom: 1px solid var(--shadow);
    font-family: 'Times New Roman', Times, serif;
}
.img-3{
    width: 45%;
    height: 110%;
    position: absolute;
    z-index: 1;
    top: -16%;
    right: 2%;
    box-shadow: -10px 10px 90px var(--shadow);
}
/*footer top of */
.footer-top{
    height: 20vh;
    width:100%;
    background-color: var(--headerColor);
    color: white;
    margin:7rem 20% 7rem 20%;
    box-shadow: -10px 10px 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: var(--contentColor);
}

